
.carousel img {
    height: 600px;
    width: 800px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.header-text {
    position: absolute;
    top: 40%;
    left: 400px;
    right: 20px;
    width: 70%;
    color: #fff;
}

.submit {
    color: #fff !important;
    display: block;
    width: 52px;
    height: 52px;
    font-size: 16px;
    background: #fd7500 !important;
    border: none;
    border-radius: 0
}

.block-latest-news {
    display: block;
    height: 80px;
    width: 80px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-left: 10px;
}

body {
    background-color: black;
    color: #fff;
}

footer {
    bottom: 0;
    width: 100%;
}

.bgColorNav {
    background-color: #0e0e0e;
}
.marginBtLi{
    margin-right: 20px;
    font-size: x-large;
}
.fItalicB{
    font-style: italic;
}